* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgcolor {
  background-color: #212529;
}

.hoverText {
  cursor: pointer;
}

.hoverText:hover {
  color: #005de9;
  background-color: #f8f8f8;
}

.hoverTextOnly:hover {
  color: #005de9;
}

.dropdown-toggle-icon::after {
  display: none;
}

.dropdown-toggle {
  color: black !important;
}

.navbar-toggler {
  justify-self: end !important;
}

.mainHeader {
  font-family: "Akira Expanded";
  font-weight: 800;
  font-size: 70px;
}

.subheader {
  font-family: "akira Expanded";
  font-size: 800;
  font-size: 40px;
  color: #909090;
  text-align: center;
}

.headerImageContainer {
  width: 30%;
  height: 100%;
}

.headerContainer {
  width: 70%;
  height: 100%;
}

.mainContainer {
  height: calc(100vh - 105.75px);
}

.aboutContainer {
  width: 60%;
  background-color: #fff;
  margin-top: -60px;
  height: fit-content;
}

.card-container {
  width: 37%;
}

.aboutmuhamedImg {
  width: 100%;
  object-fit: cover;
}

.image-container {
  width: 50%;
}

.image-container>img {
  margin-top: -20%;
  width: 500px;
}

.text-container {
  width: 65%;
}

/* blue section */
.blue-section {
  background-color: #005de9;
  padding: 90px 50px;
}

.blue-section-text {
  width: 50%;
  padding: 0px 60px;
}

.blue-section-video {
  width: 40%;
}

.famous-card-container {
  width: 45%;
}

.famous-card {
  width: 80%;
  background-color: white;
  height: fit-content;
}

.famous-text-container {
  width: 55%;
}

.famous-text {
  width: 90%;
  margin-top: -50px;
}

.legacy-image-container {
  width: 50%;
}

.legacy-text-container {
  width: 50%;
}

.legacy-blue-section {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 60%;
  background-color: #005de9;
}

.professional-section {
  padding: 0px 50px;
  background-color: #f8f8f8;
  font-size: 20px;
}

.professional-text-wrapper {
  width: 60%
}

.professional-img-container {
  width: 40%;
}

.extraRow {
  display: none;
}

.extraImages {
  display: none;
}

table {
  table-layout: auto;
}

tbody>tr>td:nth-child(4) {
  color: RGB(94, 63, 203);
}

tbody>tr>td {
  color: RGB(100, 116, 139);
}

tr {
  border-bottom: rgb(226, 232, 240);
}

.trFirst {
  border-bottom: rgb(226, 232, 240) !important;

}

tr:nth-child(10) {
  border-bottom: #7D7D7D;
}

tr:last-child {
  border-bottom: #7D7D7D;
}

thead>tr {
  color: RGB(100, 116, 139);
}

tbody>tr>th {
  color: RGB(100, 116, 139);
  font-weight: 500;
}

/* media screens */
@media (min-width: 2000px) {
  main {
    width: 75%;
    margin: 0 auto;
    gap: 30px;
  }

  .headerContainer {
    height: 80%;
  }

  .headerImageContainer {
    height: 80%;
  }

  .abotut-text>h1 {
    font-size: 50px !important;
  }

  .abotut-text>div>h3 {
    font-size: 44px !important;
  }

  .winText {
    font-size: 52px !important;
  }

  .winSpan {
    font-size: 35px !important;
  }

  .othersText>p {
    font-size: 36px !important;
  }

  .image-container>img {
    width: 800px !important;
  }

  .text-container>h2 {
    font-size: 44px !important;
  }

  .text-container>p {
    font-size: 30px !important;
  }

  .blue-section-text>h2 {
    font-size: 34px !important;
  }

  .blue-section-text>p {
    font-size: 30px !important;
  }

  .champCont>h2 {
    font-size: 40px !important;
  }

  .champCont>p {
    font-size: 38px !important;
  }

  .famText>h2 {
    font-size: 40px !important;
  }

  .famText>p {
    font-size: 30px !important;
  }

  .legacy-text-container>h2 {
    font-size: 38px !important;
  }

  .legacy-text-container>p {
    font-size: 40px !important;
  }

  .legacyText>h2 {
    font-size: 44px !important;
  }

  .legacyText>p {
    font-size: 40px !important;
  }

  .professional-text-wrapper>h2 {
    font-size: 44px !important;
  }

  .professional-text-wrapper>p {
    font-size: 40px !important;
  }

  .professional-img-container {
    gap: 10px !important;
  }

  .professional-img-container>img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
  }

  .dropdown-toggle {
    font-size: 30px !important;
  }

  .dropUl>svg {
    height: 30px !important;
    width: 30px !important;
  } 
  .image-container-display>h2 {
    font-size: 40px !important;
  }

  .image-container-display>h1 {
    font-size: 36px !important;
  }

  th, td {
    font-size: 30px !important;
  }

  .imageCont>h1 {
    font-size: 30px !important;
  }

  .ulDislpay>a {
    font-size: 30px !important;
  }

  .serp {
    font-size: 36px !important;
  }

  .serpCon>ul>a {
    font-size: 30px !important;
  }

  .serpCon>ul {
    gap: 20px !important;
  }
}
@media (min-width: 3000px) {
  main {
    width: 75%;
    margin: 0 auto;
    gap: 30px;
  }

  .headerContainer {
    height: 80%;
  }

  .headerImageContainer {
    height: 80%;
  }

  .abotut-text>h1 {
    font-size: 70px !important;
  }

  .abotut-text>div>h3 {
    font-size: 64px !important;
  }

  .winText {
    font-size: 72px !important;
  }

  .winSpan {
    font-size: 55px !important;
  }

  .othersText>p {
    font-size: 56px !important;
  }

  .image-container>img {
    width: 800px !important;
  }

  .text-container>h2 {
    font-size: 64px !important;
  }

  .text-container>p {
    font-size: 50px !important;
  }

  .blue-section-text>h2 {
    font-size: 54px !important;
  }

  .blue-section-text>p {
    font-size: 50px !important;
  }

  .champCont>h2 {
    font-size: 60px !important;
  }

  .champCont>p {
    font-size: 58px !important;
  }

  .famText>h2 {
    font-size: 60px !important;
  }

  .famText>p {
    font-size: 50px !important;
  }

  .legacy-text-container>h2 {
    font-size: 58px !important;
  }

  .legacy-text-container>p {
    font-size: 60px !important;
  }

  .legacyText>h2 {
    font-size: 64px !important;
  }

  .legacyText>p {
    font-size: 60px !important;
  }

  .professional-text-wrapper>h2 {
    font-size: 64px !important;
  }

  .professional-text-wrapper>p {
    font-size: 60px !important;
  }

  .professional-img-container {
    gap: 10px !important;
  }

  .professional-img-container>img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
  }

  .dropdown-toggle {
    font-size: 50px !important;
  }

  .dropUl>svg {
    height: 30px !important;
    width: 30px !important;
  } 
  .image-container-display>h2 {
    font-size: 60px !important;
  }

  .image-container-display>h1 {
    font-size: 56px !important;
  }

  th, td {
    font-size: 50px !important;
  }

  .imageCont>h1 {
    font-size: 50px !important;
  }

  .ulDislpay>a {
    font-size: 50px !important;
  }

  .serp {
    font-size: 56px !important;
  }

  .serpCon>ul>a {
    font-size: 50px !important;
  }

  .serpCon>ul {
    gap: 20px !important;
  }
}

@media (max-width: 991px) {
  .mainHeader {
    font-size: 45px;
  }

  .subheader {
    font-size: 35px;
  }

  .headerImageContainer {
    width: 100%;
    height: 100%;
  }

  .headerContainer {
    width: 100%;
    height: 50%;
  }

  .mainContainer {
    height: calc((100vh - 105.75px) / 2);
  }

  .aboutContainer {
    width: 100%;
    margin-top: 0px;
  }

  .card-container {
    width: 100%;
  }

  .aboutmuhamedImg {
    height: 500px;
    width: 100%;
    object-fit: fill;
  }

  .image-container>img {
    width: 300px;
    margin-top: 0;
  }

  .text-container {
    width: 90%;
  }

  .blue-section {
    padding: 50px 20px;
  }

  .blue-section-text {
    width: 100%;
    padding: 25px;
  }

  .blue-section-video {
    width: 100%;
    height: 400px;
    text-align: center;
  }

  .famous-card-container {
    width: 100%;
  }

  .famous-text-container {
    width: 100%;
  }

  .famous-text {
    width: 100%;
    margin-top: 0;
  }

  .legacy-image-container {
    width: 100%;
  }

  .legacy-text-container {
    width: 100%;
  }

  .legacy-blue-section {
    position: relative;
    width: 100%;
    background-color: #005de9;
  }

  .professional-img-container {
    width: 100%;
  }

  .professional-text-wrapper {
    width: 100%;
  }
}

.second-card-container {
  background: #f8f8f8;
  padding: 50px;
  padding-bottom: 0;
  display: flex;
}

@media (max-width: 680px) {
  .second-card-container {
    display: block;
  }

  .image-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .mainHeader {
    font-size: 30px;
  }

  .subheader {
    font-family: "akira Expanded";
    font-size: 800;
    font-size: 20px;
    color: #909090;
    text-align: center;
  }
}